.blog-title{
	padding-bottom: 10px;
}

.blogs-img{
	/*border: 4px solid #000;*/
}

.blogs-img-container{
	margin-top: 5px;
}

.blogs-img-container img{
	width: 250px;
	border:1px #eee solid;
	padding: 4px;
}

.single-blogs-img-container img{
	width: 100%;
	border:1px #eee solid;
	padding: 4px;
	margin-bottom: 30px;
}

.blogs-content{
	text-align: justify;
text-justify: inter-word;
}

.blogs-sidebar-img img{
	width: 100px;
}

.sidebar-item{
	padding: 10px 0px 10px 0px;
}

.sidebar{
	padding-left: 30px;
	/*padding-top: 50px;*/
}

.sidebar-link-title a{
	color: #000;
	text-decoration: none;
}

.sidebar-link-title a:hover{
	color: #c1c1;
	text-decoration: underline;

}

.blogs-readmore:hover{
	color: red;
}
.main-blog-title{
	text-align: center;
	font-weight: bold;
}